- name: set auth
  set_fact:
    auth: &auth
      hostname: "{{ cluster_hostname }}"
      username: "{{ cluster_username }}"
      password: "{{ cluster_password }}"
      https: true
      validate_certs: false

- name: create data interface
  na_ontap_interface:
    vserver: "{{ svm.name }}"
    interface_name: "{{ interface.interface_name }}"
    address: "{{ interface.address }}"
    netmask: "{{ interface.netmask }}"
    home_node: "{{ interface.home_node }}"
    home_port: "{{ interface.home_port }}"
    ipspace: "{{ interface.ipspace }}"
    state: present
    admin_status: up
    failover_scope: home_node_only
    service_policy: default-data-files
    is_auto_revert: true
    interface_type: ip
    <<: *auth




