- name: set auth
  set_fact:
    auth: &auth
      hostname: "{{ cluster_hostname }}"
      username: "{{ cluster_username }}"
      password: "{{ cluster_password }}"
      https: true
      validate_certs: false   
   
- name: set route
  na_ontap_net_routes:
    vserver: "{{ svm.name }}"
    destination: "{{ net_routes.destination }}"
    gateway: "{{ net_routes.gateway }}"
    <<: *auth 